#add-shul-paper{
  max-width: 900px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.section-header{
  text-align: center;
}

.add-shul-placement-options{
  display: inline-block;
}