#add-shul-paper{
  max-width: 770px;
  margin: 60px auto;
  padding: 35px;
}

.section-header{
  text-align: center;
}

.add-shul-placement-options{
  display: inline-block;
  margin-top: 10px;
}