.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.page-content{
  background-color: white;
  color: black;
  width: calc(100% - 20px);
  padding: 66px 0 10px 0;
  margin: 0 10px;
  min-height: calc(100vh - 116px);
}

@media (min-width: 600px) {

  .page-content{
    padding: 74px 0 10px 0;
    min-height: calc(100vh - 124px);
  }

}

#page-content-scroll-buffer{
  height: 40px;
}

.App-link {
  color: #09d3ac;
}
