.navbar-link{
  text-decoration: none;
  color: white;
}

.drawer-link{
  text-decoration: none !important;
  color: #757575;
  font-weight: 500;
  font-size: 18px;
}

.menu-button{
  display: inline-block !important;
}

.navbar-controls {
  display: none !important;
  white-space: nowrap;
}

@media (min-width: 700px) {

  .menu-button{
    display: none !important;
  }

  .navbar-controls{
    display: inline-block !important;
  }

}
