.search-results-table{
  border-collapse: collapse;
}

.search-results-table td, .search-results-table th{
  border: 2px solid lightgray;
  padding: 5px;
}

.shul-action-button-icon{
  font-size: 16px;
}

.shul-action-button-root{
  padding: 5px !important;
  width: 26px !important;
  height: 26px !important;
}

.search-results-rooms-table td, .search-results-rooms-table th{
  background: #fcfcfc !important;
}

.search-results-placement-table td, .search-results-placement-table th{
  background: #dddddd !important;
  background: #f0f0f0 !important;
}

.search-results-container{
  max-width: fit-content;
  margin: auto;
  overflow: auto;
  max-height: calc(100vh - 217px);
  padding: .5px;
}

.results-rooms-cell{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 3px !important;
}

.results-table{
  margin: auto;
  table-layout: fixed;
  width: 970px !important;
}

.results-table th{
  background-color: #c0caff;
}

.results-header-floor-cell{
  border-bottom: 2px solid #b2b2b2 !important;
}

.results-table-header-subcell{
  top: 36px !important;
}

.results-header-super-cell{
  border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.shul-actions-cell{
  background: white !important;
  max-width: 20px !important;
  width: 20px !important;
  padding: 5px !important;
  padding-top: 15px !important;
  vertical-align: top !important;
}