.search-results-table{
  border-collapse: collapse;
}

.search-results-table td, .search-results-table th{
  border: 2px solid lightgray;
  padding: 5px;
}

.shul-action-button-icon{
  font-size: 16px;
}

.shul-action-button-root{
  padding: 5px !important;
  width: 26px !important;
  height: 26px !important;
}

.search-results-rooms-table td, .search-results-rooms-table th{
  background: #fcfcfc !important;
}

.search-results-placement-table td, .search-results-placement-table th{
  background: #dddddd !important;
  background: #f0f0f0 !important;
}

.search-results-container{
  width: fit-content;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #b2b2b2;
  height: 550px;
  padding-bottom: .5px;
}

.results-rooms-cell{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 3px !important;
}

.results-table{
  margin: auto;
  width: 981px !important;
  max-width: 981px !important;
  min-width: 981px !important;
}

.results-table th{
  background-color: #94d6ff;
}

.results-header-floor-cell{
  border-bottom: 1px solid #b2b2b2 !important;
}

.results-table-header-subcell{
  top: 29.5px !important;
  padding-top: 0px !important;
  padding-bottom: 2px !important;
}

.results-header-super-cell{
  border-bottom: 1px solid white !important;
  padding-top: 2px !important;
  padding-bottom: 0px !important;
}

.vis-aud-icon-parent{
  white-space: nowrap;
}
.shul-actions-cell{
  background: white !important;
  max-width: 20px !important;
  width: 20px !important;
  padding: 5px !important;
  padding-top: 15px !important;
  vertical-align: top !important;
}

.search-results-container ._loading_overlay_wrapper{
  height: 100%;
}

.search-parameters-parent{
  width: 999px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.search-single-filter-parent{
  white-space: nowrap;
  line-height: 2;
}
